@charset "UTF-8";
/* Admin CSS */

/* ----- PROJECTS ----- */

#menu-posts-project .wp-menu-image { background: url(../images/icons/icon-projects.png) no-repeat 6px -17px !important; }

#menu-posts-project:hover .wp-menu-image,
#menu-posts-project.wp-has-current-submenu .wp-menu-image { background-position:6px 7px!important; }

/* ----- PODCASTS ----- */

#menu-posts-podcast .wp-menu-image { background: url(../images/icons/icon-podcasts.png) no-repeat 6px -17px !important; }

#menu-posts-podcast:hover .wp-menu-image,
#menu-posts-podcast.wp-has-current-submenu .wp-menu-image { background-position:6px 7px!important; }

/* ----- PEOPLE ----- */

#menu-posts-people .wp-menu-image { background: url(../images/icons/icon-people.png) no-repeat 6px -17px !important; }

#menu-posts-people:hover .wp-menu-image,
#menu-posts-people.wp-has-current-submenu .wp-menu-image { background-position:6px 7px!important; }