/* -------------------------------------------------------------- 
     
   * Print Styles *   
   
-------------------------------------------------------------- */

#umd-wrapper, nav.navigation { display:none; }
#sidebar, footer { display:none; }
#top-container { background-image: url(images/bg_header.png) !important; background-position: left top; height:156px; border-bottom: 1px solid #9e9e9e; margin-bottom: 18px; } 

body, .page-content { overflow:visible; height:100%; }

.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 { float:left; margin-right:10px; }
.span-5 { width:190px; }
.span-16 { width:630px; }
.span-22 { width:870px; }


.edit-link, .dd_post_share, #nav-single { display:none; }

a:link, a:visited {
	background: transparent;
	font-weight: bold;
	text-decoration: underline;
}