.my_meta_control .description
{ display:none; }
 
.my_meta_control label
{ color: #333; display:block; font-weight:bold; margin:3px; margin-bottom:0; margin-top:12px; }
 
.my_meta_control label span
{ display:inline; font-weight:normal; }
 
.my_meta_control span
{ color:#999; display:inline; margin-left:6px; clear:right; line-height: 2em; }
 
.my_meta_control textarea, .my_meta_control input[type='text']
{ margin-bottom:3px; width:50%; float:left; }
 
.my_meta_control h4
{ color:#464646; font-size:1em; margin:15px 6px; text-transform:uppercase; }

#poststuff .inside .my_meta_control p 
{ clear:both; overflow: auto; }

.wpa_group 
{ }

/*---------Buttons--------------*/

p .remove-all 
{ display: inline; float: right; left: 60px; position: absolute; top: 3px; }

.wpa_group p .remove { display: block; float: right; right:0px; top:-5px; position:relative; margin-left:10px; }

.wpa_group p .add-another { }

.wpa_group > p.add-another-button
{ margin-bottom:15px; padding-top:5px; }

/*---------Docs Group-----------*/
#wpa_loop-docs .wpa_group-docs 
{ float:left; width:350px; margin-right: 20px; }

.wpa_group-docs 
{ margin-bottom: 10px; padding:10px 10px 0px 10px; border: 1px solid #999; }

.wpa_group-docs .button 
{ }

.wpa_group-docs input[type=text] 
{ width: 275px; margin-right: 10px; display:inline; }


/*---------Images Group-----------*/
#wpa_loop-imgs .wpa_group-imgs 
{ float:left; width:350px; margin-right: 20px; }

.wpa_group-imgs 
{ margin-bottom: 10px; padding:10px 10px 0px 10px; border: 1px solid #999; }

.wpa_group-imgs .button 
{ }

.wpa_group-imgs input[type=text] 
{ width: 275px; margin-right: 10px; display:inline; }

/*---------Links Group-----------*/
#wpa_loop-links .wpa_group-links 
{ float:left; width:300px; margin-right: 20px; }

.wpa_group-links 
{ margin-bottom: 10px; padding:10px 10px 0px 10px; border: 1px solid #999; }

.wpa_group-links input[type=text] 
{ width: 275px; margin-right: 10px; display:inline; }

/*---------Custom-----------*/
#poststuff .inside .internal p
{ overflow: auto; width: 33%; clear:none; float:left; }
.my_meta_control textarea, .internal input[type='text']
{ margin-bottom:3px; float:left; }
