/* common rules for all fields */
.form-table th.rw-label {width: 20%; font-size:12px;}
.row-title { font-weight:normal !important; }
span.desc { 
	color: #666; 
	display: block;
    font-family: sans-serif;
    font-style: italic;
	font-size:12px;
}

/* select field */
.rw-select {height: auto !important}

/* uploaded image */
.rw-images li {margin: 0 10px 10px 0; float: left; width: 150px; height: 100px; text-align: center; border: 3px solid #ccc; cursor: move; position: relative}
.rw-images img {width: 150px; height: 100px}
.rw-images a {position: absolute; bottom: 0; right: 0; color: #fff; background: #000; font-weight: bold; padding: 5px}

/* upload button */
.rw-upload-button {float: left; clear: both; margin-top: 10px}

/* time picker */
.ui-timepicker-div {font-size: 0.9em}
.ui-timepicker-div .ui-widget-header {margin-bottom: 8px}
.ui-timepicker-div dl {text-align: left}
.ui-timepicker-div dl dt {height: 25px}
.ui-timepicker-div dl dd {margin: -25px 0 10px 65px}
.ui-timepicker-div td {font-size: 90%}

.rw-field .mceIframeContainer {background: #fff}

/* custom corrections */
#status .form-table th.rw-label {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-align: left;
    vertical-align: top;
    width: 0px !Important;
	display: none;
}
#status .form-table td.rw-field input { clear:left;
}
#adminmenu .menu-icon-post div.wp-menu-image { }

/* Project icons */
#adminmenu li#menu-posts-project div.wp-menu-image { background: url(../images/icons/icon-projects.png) no-repeat 6px -17px !important;
}

#adminmenu li#menu-posts-project:hover div.wp-menu-image,
#adminmenu li#menu-posts-project.wp-has-current-submenu div.wp-menu-image { background-position:6px 7px!important; }

/* Podcast icons */
#adminmenu li#menu-posts-podcast div.wp-menu-image { background: url(../images/icons/icon-podcasts.png) no-repeat 6px -17px !important;
}

#adminmenu li#menu-posts-podcast:hover div.wp-menu-image,
#adminmenu li#menu-posts-podcast.wp-has-current-submenu div.wp-menu-image { background-position:6px 7px!important; }



